<div id='cntm-topbar'>
  <div id='cntm-topbar-nav'>
    <span id='cntm-topbar-back' class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span id='cntm-topbar-menu' class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
  </div>
  <div id='cntm-topbar-header'>
    <p class="title"><strong><%= @chemical.name %></strong></p>
    <!-- description does not yet exist -->
    <p class="description"> Barium is lustrous, machinable metal which exists in nature only in ores containing mixtures of elements.</p>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#sidebar-wrapper").hide();
    console.log("tried to hide sidebar-wrapper")
    $("#hamburger-menu-button").hide();
    console.log("tried to hide hamburger-menu-button");
    $("#page-content-wrapper").css("padding-top","0px");
  });
</script>
