<table>
  <thead>
    <tr>
      <th>Chemical</th>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
  <% @location_subcategories.each do |ls| %>
    <tr>
      <td><a href="<%= edit_location_subcategory_path(ls.id) %>"><%= ls.name %></a></td>
      <td><%= ls.location_category.name %></td>
    </tr>
  <% end %>  
  </tbody>
</table>
<a href="<%= new_location_subcategory_path %>">New Location Subcategory</a>
