<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<div id="myCarousel" class="carousel slide fixed-section-carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
<!--     <div class="item active">
      <a href="https://www.amazon.com/Polar-Bottle-Insulated-Water-24-Ounce/dp/B000AO5L8W/ref=sr_1_12?s=sports-and-fitness&ie=UTF8&qid=1487213883&sr=1-12&keywords=water+bottle">
      <center><img src="https://images-na.ssl-images-amazon.com/images/I/31BczWzcLKL._AC_US327_FMwebp_QL65_.jpg" src="..." alt="Second slide" alt="Chania" class="carousel-item-image"></center></a>
    </div> -->

    <div class="item active">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B00XIIWDAG&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B01C6HAVVM&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B01G7SQ8GS&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B00LA97I8M&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B005HN1YY6&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B001K72L9K&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div>

    <div class="item">
       <center><iframe style="width:120px;height:200px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=amazi000-20&marketplace=amazon&region=US&placement=B00XIIWDAG&asins=B0050TQ0OG&linkId=2b3e3c06f9f2db6337519be6b1771ba8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=00ffffff">
    </iframe></center>
    </div

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


