
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

<!--   <div class="carouselItems fixed-section-carousel">
    <center>
    <div>
      <img src="https://i.ytimg.com/vi/Dtc-afec1X8/maxresdefault.jpg">
    </div>
    <div>
      <img src="https://s3-media4.fl.yelpcdn.com/bphoto/e5_yCG299K9WiYIzOq6udA/o.jpg">
    </div>
    <div>
      <img src="https://tastelikedreams.files.wordpress.com/2015/04/sf-exploratorium-9.jpg">
    </div>
    </center>
  </div> -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


 <!--   <script type="text/javascript">
    $(document).ready(function(){
      $('.carouselItems').slick({
        dots: true,
        infinite: true,
        speed: 700,
        autoplay: true,
        autoplaySpeed: 2000,
        mobileFirst: true,
        pauseOnHoover: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });
    });
  </script> -->

<!-- <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "amazi000-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Recommended for Your Health";
amzn_assoc_linkid = "2b3e3c06f9f2db6337519be6b1771ba8";
amzn_assoc_asins = "B00XIIWDAG,B01C6HAVVM,B01G7SQ8GS,B00LA97I8M,B005HN1YY6,B001K72L9K,B0050TQ0OG,B011O11TSU,B011O11RR8,B004987QTC,B01HC79R8E,B00FUANGVA,B00H90PFOK,B01M3S7O5I,B00GYAWAI0,B00B2PNL0S,B005P0FZFK,B008NIHDYM,B006OJHJZK,B00BWIX1EQ";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->



<%= render partial: "carousel" %>
