<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<!-- Add the new slick-theme.css if you want the default styling -->
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

<div class="your-class">
  <center>
  <div><img src="https://i.ytimg.com/vi/Dtc-afec1X8/maxresdefault.jpg"></div>
  <div><img src="https://s3-media4.fl.yelpcdn.com/bphoto/e5_yCG299K9WiYIzOq6udA/o.jpg"></div>
  <div><img src="https://tastelikedreams.files.wordpress.com/2015/04/sf-exploratorium-9.jpg"></div>
  </center>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.your-class').slick({
    setting-name: setting-value
  });
});
</script>
