
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h2>User with email: <%=@email%>, had this to say: </h2>
    <h4>
      <%=@message%> .

    </h4>

  </body>
</html>

