(function() {
  "use strict";

  angular.module("app").controller("mapCtrl", function($scope, uiGmapGoogleMapApi, $http, $q) {
  	window.$scope = $scope;

    $scope.map = {
      center: {
        latitude: 37.7877,
        longitude: -122.4048
      },
      zoom: 16,
      bounds: {}
    };

    $scope.options = {
      scrollwheel: false
    };

    $scope.locations = [];
    var getLocations = function(bounds) {
    	var swLat  = bounds.southwest.latitude;
    	var swLong = bounds.southwest.longitude;
    	var neLat  = bounds.northeast.latitude;
    	var neLong = bounds.northeast.longitude;
    	$http.get('/api/v1/locations.json/?swLat=' + swLat + '&swLong=' + swLong + '&neLat=' + neLat + '&neLong=' + neLong).then(function(response) {
    		
    		$scope.locations = response.data;

				angular.forEach($scope.locations, function(obj){
				  //Using bracket notation
				  // obj["show"] = false;
				});

    		console.log($scope.locations);
    	});
    }
    $scope.windowOptions = {
    	show: false,
    	pixelOffset: {width: 0, height: -40},
    	title: "",
    	id: null
    };


		$scope.selectMarker = function(marker) {
		  var deferred = $q.defer();
		  deferred.resolve('res');

		  $scope.selectedMarker = marker;

		  // We return a promise
		  return deferred.promise;
		}

    $scope.onClick = function(marker, eventName, model) {
			$scope.selectMarker(marker).then(function(res) {
			   // Success callback
					$scope.windowOptions.title = model["address"];
					$scope.windowOptions.id = model["id"];
					$scope.windowOptions.show = true;
			},null);
				// angular.forEach($scope.locations, function(obj){
				//    //Using bracket notation
				//    // obj["show"] = false;
				// });
 				// $scope.windowLink = '<a href="/locations/' + model["id"] + '">' + model["address"] + '</a>';
        // model.show = !model.show;
    };

    // Get the bounds from the map once it's loaded
    $scope.$watch(function() {
      return $scope.map.bounds;
    }, function(nv, ov) {
      // Only need to regenerate once
      if (nv.southwest) {
      	getLocations($scope.map.bounds);
      	$scope.windowOptions.show = false;
      }
    }, true);


  });
}());