(function() {
  "use strict";

  angular.module("app").controller("mapCtrl", function($scope, $http) {

    $scope.setUp = function() {
      $scope.markers = [];
      initMap();
    };

    function initMap() {
      $scope.map = new google.maps.Map(document.getElementById('mapView'), {
        center: {lat: 37.7877, lng: -122.4048},
        zoom: 16
      });
      google.maps.event.addListener($scope.map, 'bounds_changed', function() {
        $scope.bounds = $scope.map.getBounds();
        getLocations($scope.bounds);
      });
    };

    function getLocations(bounds) {
      var swLat  = bounds.getSouthWest().lat();
      var swLong = bounds.getSouthWest().lng();
      var neLat  = bounds.getNorthEast().lat();
      var neLong = bounds.getNorthEast().lng();
      $http.get('/api/v1/locations.json/?swLat=' + swLat + '&swLong=' + swLong + '&neLat=' + neLat + '&neLong=' + neLong).then(function(response) {
        $scope.locations = response.data;
        createMarkers($scope.locations);
      });
    };



    function createMarkers(locations) {
      var infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener($scope.map, "click", function(event) {
        infowindow.close();
      });
      locations.forEach(function(location) {
        var marker = new google.maps.Marker({
          position: {lat: location.latitude, lng: location.longitude},
          map: $scope.map,
          title: location.address,
          water_type: location.type
        });
        $scope.markers.push(marker)
        marker.addListener('click', function() {
        var content = "<a href=/locations/" + location.id +'>' + location.address + "</a>";
        infowindow.setContent(content);
        infowindow.open($scope.map, marker);

        });
      });
    };


  });
})();

