<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% @units.each do |u| %>
    <tr>
      <td><a href="<%= edit_unit_path(u.id) %>"><%= u.name %></a></td>
    </tr>
  <% end %>  
  </tbody>
</table>
<a href="<%= new_unit_path %>">New Unit</a>
