#sidebar-wrapper {
	#addLocationButton {
		margin-top: 50px;
	}
}


#mapControls {
	margin-bottom: 10px;
	background-color: $top-bar-color;

	.col-xs-6, .col-xs-3 {
		padding-left: 3px;
		padding-right: 3px;

		.btn {
			width: 100%;
		}

		input {
			width: 100%;
		}
	}

	.col-xs-12 {
		margin-top: 10px;
		padding-left: 3px;
		padding-right: 3px;
	}
}

#bodyContainer {
	height: 100%;
	#wrapper {
		height: 100%;

		#page-content-wrapper {
			height: 100%;
		}
	}
}

#mapContainer {
	padding-left: 0px;
	padding-right: 0px;
	height: 80%;
	background-color: $top-bar-color;

	#mapView {
		position:relative;
		height: 100%;
		width: 100%;

	}
}

html, body {
  height: 100%;
}

.hidden {
	display: none;
}
.title {
	color: white;
	position: relative;
	left: 40%;
	bottom: 15px;
}

#feedback_form {
	margin-top: 100px;
	text-align: center;
}

.fieldtag {
	width: 300px;
	height: 200px;
	color: black;
}
