// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixed-section-carousel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.carousel-item-image {
  height: auto;
  width: auto;
  max-height: 200px;
}

.filter-buttons {
  height: 34px;
  width: 450px;
  margin-top: 10px;
  margin-left: -12px;
}
.homepage-buttons {
  min-width: 100%;
  margin: auto;
}
.butn {
  color: white;
  border-radius: 0;
  height: 35px;
}
.butn-open {
  background-color: #080916;
}
.butn-fountain {
  background-color: #79aefe;
}
.butn-fountain-on {
  background-color: #3f649b;
  border: solid white 1px;
}
.butn-filtered {
  background-color: #ec1b5a;
}
.butn-filtered-on {
  background-color: #a0113c;
  border: solid white 1px;
}
.butn-eco-alternative {
  background-color: #279636;
}
.butn-eco-alternative-on {
  background-color: #175920;
  border: solid white 1px;
}
.butn-natural {
  background-color: #a937dd;
}
.butn-natural-on {
  background-color: #441659;
  border: solid white 1px;
}
@media (max-width: 465px) {
  .homepage-buttons {
    overflow-x: scroll;
    padding-bottom: 5px;
  }
}

.no-marker {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 100000;
  height: 120px;
  border: 2px solid black;
  text-align: center;
  padding: 20px;
}
