// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.angular-google-map-container {
  height: 400px;
}

.fixed-section-carousel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.carousel-item-image {
  height: auto;
  width: auto;
  max-height: 200px;
}

.filter-buttons {
  height: 34px;
  width: 360px;
  margin-top: 10px;
}

@media (max-width: 374px) {
  .homepage-buttons {
    overflow-x: scroll;
    padding-bottom: 5px;
  }
}
