// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
   height: 250px;
   width: 100%;
   position: relative;
}

div {
  font-family: $font-family;
  font-size: 1.05vh;

  #cntm-topbar {
    background-color: $top-bar-color;
    color: $top-bar-text-color;
    padding: 0;
    margin: 0;

    #cntm-topbar-nav {
      font-size: 5vh;
      height: 7vh;
      margin-left: 1vw;
      margin-right: 1vw;
      padding-top: 2vh;
      padding-left: 0.25vw;
      padding-right: 0.25vw;

      #cntm-topbar-back {
        float: left;
      }
      #cntm-topbar-menu {
        float: right;
      }
    }

    #cntm-topbar-header {
      padding: 0.5vh;
      margin: 0.5vh;
      .title {
        font-size: 4.5vh;
        color: $highlight-color;
      }
      .description {
        font-size: 3vh;
      }
    }
  }

  .panel-group {
    padding: 1.5vh;
    margin: 1.5vh;

    .panel-title {
      color: gray;
      font-size: 2.25vh;
      a:hover, a:focus {
        text-decoration: none;
      }
    }

    .panel-title.selected {
      color: black;
    }

    .panel-body {
      font-size: 2vh;
    }

    .panel-chevron {
      float: right;
    }
  }

  #cntm-dropup-menu {
    ul {
      list-style: none;
      padding: 1.5em;

      li {
        border-bottom: thick grey;
      }
      .cntm-dropup-item {
        a {
          color: white;
          font-size: 4.5vh;
          text-align: left;
        }
      }

      li#cntm-dropup-menu-close {
        text-align: center;
        a {
          font-size: 3vh;
          color: #2CCF9A;
        }
      }
    }

    background-color : $top-bar-color;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}