<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<div id="myCarousel" class="carousel slide location-carousel" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

  <% count = 0 %>

  <div class="item active full-image">
    <center><img class="d-block img-fluid pic" src=<%= @allpictures.first %>></center>
  </div>

  <% @allpictures[1..-1].each do |picture| %>

    <% count += 1 %>

    <div class="item full-image">
      <center><img class="d-block img-fluid pic" src=<%= picture %>></center>
    </div>

  <%end%>



  <!-- Left and right controls -->
  <a class="left carousel-control carousel-front" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left carousel-button" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left carousel-button" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control carousel-front" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right carousel-button" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right carousel-button" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>