<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAPS_API_KEY']%>">
</script>
<div class="container-fluid" id="mapControls">
	<!-- Filter / Search / List -->
	<div class="row">
		<div class="col-xs-3">
			<div class="btn btn-default">
				Filter
			</div>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<div class="col-xs-3">
			<a class="btn btn-default" href="/locations">
				List
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="btn btn-default">
				Open Now
			</div>
			<div class="btn btn-default">
				Filtered
			</div>
			<div class="btn btn-default">
				Tap
			</div>
			<div class="btn btn-default">
				Natural Sources
			</div>
		</div>
	</div>
</div>

<div ng-controller="mapCtrl"  ng-init="setUp()" class="container-fluid" id="mapContainer">
	<div id="mapView">
	</div>
</div>
