<!DOCTYPE html>
<html>
  <head>
    <title>AmaziApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div ng-app="app" id="bodyContainer">

      <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
              <a href="/">
                Amazi
              </a>
              <button type="button" class="hamburger is-open" data-toggle="offcanvas" style="display: none;">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
              </button>
            </li>
            <li>
              <a href="/">Refill Locations</a>
            </li>
            <li>
              <a href="/water_qualities">Water Quality</a>
            </li>
            <li>
              <a href="#">Recommended Products</a>
            </li>
            <li>
              <a href="/saved_locations">Saved Locations</a>
            </li>
            <li>
              <a href="#">Account settings</a>
            </li>
            <li>
              <a href="#">Feedback</a>
            </li>
            <div class="small-div" id="buttonDiv">
              <div class="btn btn-primary mobile-button" id="addLocationButton" style="display:none;">Add Location</div>
            </div>

          </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
          <%= yield %>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    </div>
  </body>
</html>
